<p class = "lead"><big>Newspapers</big>
	<% if admin? %>	
		<small>(<%= link_to "Make a new one?", new_newspaper_path %>)</small>
	<% end %>
</p>

<ol>
	<% @newspapers.each do |newspaper| %>
		<li class="well">
			<%= link_to newspaper.title, newspaper_path(newspaper) %>
			<small>
				<%#= link_to 'subscribe', new_newspaper_subscription_path(newspaper) %>
			</small>
		</li>
  <% end %>
</ol>